.runic-editor__preview {
    width: 100%;
    border-radius: 1em;
    outline: 2px solid crimson;

    display: grid;
}

/* Mobile */

.runic-editor__preview {
    grid-auto-flow: row;
}

/* Desktop */

@media (min-width: 720px) {
    .runic-editor__preview {
        grid-template-columns: 7fr auto 3fr;
        grid-auto-flow: column;
    }
}

.runic-editor__preview > hr {
    flex: 0 0 auto;
    margin: 0;
    border: 1px solid crimson;
}

.runic-editor__svg-container {
    min-height: 10em;
    padding: 1em;
    overflow: hidden;
}

.runic-editor__settings-container {
    padding: 1em;
}
