.runic-editor__preview {
    width: 100%;
    border-radius: 1em;
    outline: 2px solid crimson;

    display: grid;
}

/* Mobile */

.runic-editor__preview {
    grid-auto-flow: row;
}

/* Desktop */

@media (min-width: 1024px) {
    .runic-editor__preview {
        grid-template-columns: 7fr auto 3fr;
        grid-auto-flow: column;
    }
}

.runic-editor__preview > hr {
    flex: 0 0 auto;
    margin: 0;
    border: 1px solid crimson;
}

.runic-editor__svg-container {
    height: 15em;
    padding: 1em;
    display: grid;
    place-items: center;
}

.runic-editor__settings-container {
    padding: 1em;
}

.runic-editor__download-group {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
    gap: 0.5em;
}

.runic-editor__download-button {
    flex: 1 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.runic-editor__download-button > svg {
    width: 1em;
    height: 1em;
}
