.color-input {
    position: relative;
    font-weight: 700;
    padding: 0.5em;
    outline: 2px solid var(--surface-2-border);
    border-radius: 0.5em;

    margin: 1em 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.color-input:focus-within,
.color-input:active  {
    outline: 2px solid currentColor;
}

.color-input > input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    cursor: pointer;
}

.color-input__indicator {
    height: 1em;
    width: 1em;
    border-radius: 0.25em;
    outline: 2px solid currentColor;
}
