.chip-select {
    position: relative;

    width: 100%;

    padding: 0.25em;
    margin: 1em 0;
    outline: 2px solid var(--surface-2-border);
    border-radius: 0.5em;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.chip-select:focus-within,
.chip-select:active {
    outline: 2px solid currentColor;
}

.chip-select__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.chip-select__label {
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
    font-weight: 700;

    border-radius: 0.25em;

    display: grid;
    place-items: center;
    text-align: center;
}

.chip-select__input:checked + .chip-select__label {
    background-color: var(--surface-2-border);
}