.text-input {
    margin: 1em;
    display: grid;
    gap: 0.5em;
}

.text-input__label {
    font-weight: 700;
}

.text-input__textarea {
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    padding: 0.5em;
    text-wrap: nowrap;
    resize: none;

    border-radius: 0.5em;
    border: none;
    background-color: var(--surface-2);
    outline: 2px solid var(--surface-2-border);
}

.text-input__textarea:focus {
    outline: 2px solid currentColor;
}