.text-input {
    padding: 1em;
    display: grid;
    gap: 0.5em;
}

.text-input__label {
    font-weight: 700;
}

.text-input__textarea {
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    padding: 0.5em;
    text-wrap: nowrap;
    resize: none;

    border-radius: 0.5em;
    border: none;
    background-color: #242424;
    outline: 2px solid #363636;
}

.text-input__textarea:focus {
    outline: 2px solid currentColor;
}