svg.runic-svg {
    max-width: 100%;
    max-height: 100%;
}

/* Add styles to the interactive layer */

.runic-layer--interactive .rune-segment {
    transition: 250ms ease;
    transition-property: stroke, opacity;
    cursor: pointer;
}

.runic-layer--interactive .rune-segment:hover {
    stroke: currentColor;
    opacity: 0.5;
}
