.range-input {
    margin: 1em 0;
}

.range-input__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;

    margin-bottom: 0.5em;
}

.range-input__input-element {
    accent-color: crimson;
    font-size: inherit;
    width: 100%;
}
