.rune-reference-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2em, 1fr));
}

.rune-reference-grid-item {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
