.rune-reference-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10ch, 1fr));
}

.rune-reference-grid-item {
    width: 100%;
    height: 100%;

    padding: 0.25em;
}

/* Horizontal card layout */

.rune-card {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr;
    justify-items: stretch;

    height: 100%;
    cursor: pointer;

    background-color: black;
    outline: 2px solid #242424;
    border-radius: 0.5em;

    text-align: center;
}

.rune-card .rune-segments-guide > .rune-segment {
    stroke: #242424 !important;
}

.rune-card > .svg-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #121212;
    border-radius: inherit;
}

.rune-card .runic-svg {
    width: 3em;
}

.rune-card hr {
    margin: 0;
    width: 100%;
    border: 1px solid #242424;
}

.rune-info {
    flex: 1 0 0;
    padding: 0.5em;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rune-info__symbol {
    font-size: 1.5em;
    color: #cdcdcd;
}

.rune-info__english {
    font-size: 0.5em;
    color: #888;
}
