.testimonials {
    display: grid;
    width: 100%;
    gap: 0.5em;
    justify-items: center;
}

/* Mobile - Vertical only */

.testimonials {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

@media (min-width: 1024px) {
    .testimonials {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }
}
