<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Runic - The Tunic Translation Tool</title>

        <!-- Initial Script -->
        <%- injectFile("js", "dist/bundle/initial.js") %>
        <!-- Initial CSS -->
        <%- injectFile("css", "dist/bundle/initial.css") %>

        <!-- Preconnect to fonts.gstatic.com -->
        <link rel="preconnect" href="fonts.gstatic.com" />

        <!-- Lazy JS -->
        <script src="./bundle/index.js" defer></script>

        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-2RLZMFEG8C"
        ></script>
        <script type="module">
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "G-2RLZMFEG8C");
        </script>

        <!-- Favicon -->
        <link
            href="./images/favicon-128.png"
            rel="shortcut icon"
            type="image/png"
            sizes="128x128"
        />

        <!-- Open Graph Tags -->
        <meta name="author" content="Aryan Pingle" />
        <meta
            name="description"
            content="The ultimate translation tool for the video game, 'Tunic' - create, customize and share your Runic text."
        />
        <meta
            property="og:title"
            content="Runic - The Tunic Translation Tool"
        />
        <meta
            property="og:url"
            content="https://aryanpingle.github.io/Runic/"
        />
        <meta property="og:type" content="website" />
        <meta
            property="og:description"
            content="The ultimate translation tool for the video game, 'Tunic' - create, customize and share your Runic text."
        />
        <meta
            property="og:image"
            content="https://raw.githubusercontent.com/aryanpingle/Runic/master/public/images/banner.jpg"
        />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1440" />
        <meta property="og:image:height" content="720" />

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@aryan_pingle" />
        <meta name="twitter:creator" content="@aryan_pingle" />
        <meta
            name="twitter:title"
            content="Runic - The Tunic Translation Tool"
        />
        <meta
            name="twitter:description"
            content="The ultimate translation tool for the video game, 'Tunic' - create, customize and share your Runic text."
        />
        <meta
            name="twitter:image"
            content="https://raw.githubusercontent.com/aryanpingle/Runic/master/public/images/banner.jpg"
        />
    </head>
    <body>
        <div class="fancy-orb-background">
            <div class="orb orb-red"></div>
            <div class="orb orb-green"></div>
            <div class="orb orb-blue"></div>
        </div>

        <header>
            <h1>RUNIC</h1>
        </header>

        <main>
            <article class="introduction-article">
                <section>
                    <p>
                        This is a fan-made website that helps you read the
                        in-game language of
                        <a
                            href="https://store.steampowered.com/app/553420/TUNIC/"
                            target="_blank"
                            >Tunic</a
                        >
                        - what the community calls, <b>Runic</b>.
                    </p>
                </section>
            </article>

            <article>
                <section>
                    <header>
                        <picture>
                            <source
                                srcset="./images/runic-translator-banner.webp"
                                type="image/webp"
                            />
                            <source
                                srcset="./images/runic-translator-banner.png"
                                type="image/png"
                            />
                            <img
                                loading="lazy"
                                class="section-banner"
                                src="./images/runic-translator-banner.png"
                                alt="Runic Translator"
                            />
                        </picture>
                    </header>
                    <p>
                        Anything you type in English will be translated to
                        phonetic, and then converted to Runic.<br />
                        Put phrases within <b>&#64;</b> to display them in
                        English, like <b>&#64;The Librarian&#64;</b>.
                    </p>
                </section>
                <div class="runic-editor-container"></div>
            </article>

            <article>
                <section>
                    <header>
                        <picture>
                            <source
                                srcset="./images/vowel-table-banner.webp"
                                type="image/webp"
                            />
                            <source
                                srcset="./images/vowel-table-banner.png"
                                type="image/png"
                            />
                            <img
                                loading="lazy"
                                class="section-banner"
                                src="./images/vowel-table-banner.png"
                                alt="Vowel Table"
                            />
                        </picture>
                    </header>
                    <p>Click on any card to copy the vowel.</p>
                </section>
                <div id="rune-vowel-table"></div>
            </article>

            <article>
                <section>
                    <header>
                        <picture>
                            <source
                                srcset="./images/consonant-table-banner.webp"
                                type="image/webp"
                            />
                            <source
                                srcset="./images/consonant-table-banner.png"
                                type="image/png"
                            />
                            <img
                                loading="lazy"
                                class="section-banner"
                                src="./images/consonant-table-banner.png"
                                alt="Consonant Table"
                            />
                        </picture>
                    </header>
                    <p>Click on any card to copy the consonant.</p>
                </section>
                <div id="rune-consonant-table"></div>
            </article>

            <article>
                <section>
                    <header>
                        <picture>
                            <source
                                srcset="./images/runic-playground-banner.webp"
                                type="image/webp"
                            />
                            <source
                                srcset="./images/runic-playground-banner.png"
                                type="image/png"
                            />
                            <img
                                loading="lazy"
                                class="section-banner"
                                src="./images/runic-playground-banner.png"
                                alt="Runic Playground"
                            />
                        </picture>
                    </header>
                    <p>Create your own runes by clicking on segments.</p>
                </section>
                <div class="runic-playground-container"></div>
            </article>

            <article>
                <section>
                    <header>
                        <picture>
                            <source
                                srcset="./images/testimonials-banner.webp"
                                type="image/webp"
                            />
                            <source
                                srcset="./images/testimonials-banner.png"
                                type="image/png"
                            />
                            <img
                                loading="lazy"
                                class="section-banner"
                                src="./images/testimonials-banner.png"
                                alt="Testimonials"
                            />
                        </picture>
                    </header>
                    <p>See what fans are saying about this site!</p>
                </section>
                <div class="testimonials-container"></div>
            </article>

            <footer>
                <p>
                    Made by
                    <a href="https://github.com/aryanpingle" target="_blank"
                        >Aryan Pingle</a
                    >. This project is
                    <a
                        href="https://github.com/aryanpingle/Runic"
                        target="_blank"
                        >open source on GitHub</a
                    >.
                </p>
                <p>
                    I do not own any part of "Tunic", or have any relation to
                    the development or production team.<br />
                    I am simply a fan who loves this beautiful,
                    <b>beautiful</b> game.<br />
                    Praise be to indie games.
                </p>
            </footer>
        </main>

        <!-- Lazy CSS -->
        <link rel="stylesheet" href="./bundle/index.css" />
    </body>
</html>
