@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-family: "Merriweather", serif;
    color: #ccc;

    font-weight: 300;

    --article-width: 1280px;
    --section-width: 960px;
}

/* Mobile - 1.25x default font size */

:root {
    font-size: 1.25em;
}

/* Desktop - 1.5x default font size */

@media (min-width: 1024px) {
    :root {
        font-size: 1.5em;
    }
}

body {
    margin: 0;
    padding: 1em;
    background-color: black;
}

article {
    max-width: var(--article-width);
    margin: auto;
}

section {
    max-width: var(--section-width);
    margin: auto;
}

section > h2 {
    text-transform: capitalize;
}

textarea {
    font-family: "Noto Sans Mono", monospace;
}

button {
    font: inherit;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: crimson;
    color: black;
    border: none;
    font-weight: 900;
    cursor: pointer;
}
